@charset "UTF-8";
/*COLORS*/
/*SIZE*/
/*@media all and (min-width: 770px)*/
/* @media all and (min-width: 770px) */
/* @media all and (max-width: 400px) */
/*@media all and (min-width: 960px)*/
/*tremblements*/
@keyframes wiggle {
  0% {
    transform: translate(1px, 1px) rotate(1deg);
  }
  20% {
    transform: translate(-2px, -2px) rotate(-2deg);
  }
  40% {
    transform: translate(2px, 2px) rotate(2deg);
  }
  60% {
    transform: translate(-2px, -2px) rotate(2deg);
  }
  80% {
    transform: translate(2px, 2px) rotate(-2deg);
  }
  100% {
    transform: translate(-1px, -1px) rotate(2deg);
  }
}
/*prochainement*/
@keyframes points {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.3;
  }
}
/*souris survolant menu*/
/*texte souligné*/
.entree_menu1::after, .plat_menu1::after, .dessert_menu1::after, .entree_menu2::after, .plat_menu2::after, .dessert_menu2::after, .entree_menu3::after, .plat_menu3::after, .dessert_menu3::after, .entree_menu4::after, .plat_menu4::after, .dessert_menu4::after {
  content: "";
  width: 0;
  height: 0.1rem;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.685);
  transition: width 0.3s;
}
.entree_menu1:hover::after, .plat_menu1:hover::after, .dessert_menu1:hover::after, .entree_menu2:hover::after, .plat_menu2:hover::after, .dessert_menu2:hover::after, .entree_menu3:hover::after, .plat_menu3:hover::after, .dessert_menu3:hover::after, .entree_menu4:hover::after, .plat_menu4:hover::after, .dessert_menu4:hover::after {
  width: 100%;
}

body {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 85%;
}

/*MENU1*/
@font-face {
  font-family: "calligraffitiregular";
  src: url("fonts/calligraffiti_regular_macroman/Calligraffiti-webfont.eot");
  src: url("fonts/calligraffiti_regular_macroman/Calligraffiti-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/calligraffiti_regular_macroman/Calligraffiti-webfont.woff2") format("woff2"), url("fonts/calligraffiti_regular_macroman/Calligraffiti-webfont.woff") format("woff"), url("fonts/calligraffiti_regular_macroman/Calligraffiti-webfont.ttf") format("truetype"), url("fonts/calligraffiti_regular_macroman/Calligraffiti-webfont.svg#calligraffitiregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "sf_burlington_scriptBdIt";
  src: url("fonts/sfbolditalic/SF_Burlington_Script_Bold_Italic-webfont.eot");
  src: url("fonts/sfbolditalic/SF_Burlington_Script_Bold_Italic-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/sfbolditalic/SF_Burlington_Script_Bold_Italic-webfont.woff2") format("woff2"), url("fonts/sfbolditalic/SF_Burlington_Script_Bold_Italic-webfont.woff") format("woff"), url("fonts/sfbolditalic/SF_Burlington_Script_Bold_Italic-webfont.ttf") format("truetype"), url("fonts/sfbolditalic/SF_Burlington_Script_Bold_Italic-webfont.svg#sf_burlington_scriptBdIt") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "sf_burlington_scriptbold";
  src: url("fonts/sfbold/SF_Burlington_Script_Bold-webfont.eot");
  src: url("fonts/sfbold/SF_Burlington_Script_Bold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/sfbold/SF_Burlington_Script_Bold-webfont.woff2") format("woff2"), url("fonts/sfbold/SF_Burlington_Script_Bold-webfont.woff") format("woff"), url("fonts/sfbold/SF_Burlington_Script_Bold-webfont.ttf") format("truetype"), url("fonts/sfbold/SF_Burlington_Script_Bold-webfont.svg#sf_burlington_scriptbold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "sf_burlington_scriptitalic";
  src: url("fonts/sfitalic/SF_Burlington_Script_Italic-webfont.eot");
  src: url("fonts/sfitalic/SF_Burlington_Script_Italic-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/sfitalic/SF_Burlington_Script_Italic-webfont.woff2") format("woff2"), url("fonts/sfitalic/SF_Burlington_Script_Italic-webfont.woff") format("woff"), url("fonts/sfitalic/SF_Burlington_Script_Italic-webfont.ttf") format("truetype"), url("fonts/sfitalic/SF_Burlington_Script_Italic-webfont.svg#sf_burlington_scriptitalic") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "sf_burlington_scriptregular";
  src: url("fonts/sfregular/SF_Burlington_Script-webfont.eot");
  src: url("fonts/sfregular/SF_Burlington_Script-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/sfregular/SF_Burlington_Script-webfont.woff2") format("woff2"), url("fonts/sfregular/SF_Burlington_Script-webfont.woff") format("woff"), url("fonts/sfregular/SF_Burlington_Script-webfont.ttf") format("truetype"), url("fonts/sfregular/SF_Burlington_Script-webfont.svg#sf_burlington_scriptregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
/*MENU2*/
@font-face {
  font-family: "redressedregular";
  src: url("fonts/redressed_regular_macroman/Redressed-webfont.eot");
  src: url("fonts/redressed_regular_macroman/Redressed-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/redressed_regular_macroman/Redressed-webfont.woff2") format("woff2"), url("fonts/redressed_regular_macroman/Redressed-webfont.woff") format("woff"), url("fonts/redressed_regular_macroman/Redressed-webfont.ttf") format("truetype"), url("fonts/redressed_regular_macroman/Redressed-webfont.svg#redressedregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
/*MENU3*/
@font-face {
  font-family: "black_jackregular";
  src: url("fonts/blackjack_regular_macroman/blackjack-webfont.eot");
  src: url("fonts/blackjack_regular_macroman/blackjack-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/blackjack_regular_macroman/blackjack-webfont.woff2") format("woff2"), url("fonts/blackjack_regular_macroman/blackjack-webfont.woff") format("woff"), url("fonts/blackjack_regular_macroman/blackjack-webfont.ttf") format("truetype"), url("fonts/blackjack_regular_macroman/blackjack-webfont.svg#black_jackregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
/*MENU4*/
@font-face {
  font-family: "playtime_with_hot_toddiesRg";
  src: url("fonts/playtimewithhottoddies_regular_macroman/playtime-webfont.eot");
  src: url("fonts/playtimewithhottoddies_regular_macroman/playtime-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/playtimewithhottoddies_regular_macroman/playtime-webfont.woff2") format("woff2"), url("fonts/playtimewithhottoddies_regular_macroman/playtime-webfont.woff") format("woff"), url("fonts/playtimewithhottoddies_regular_macroman/playtime-webfont.ttf") format("truetype"), url("fonts/playtimewithhottoddies_regular_macroman/playtime-webfont.svg#playtime_with_hot_toddiesRg") format("svg");
  font-weight: normal;
  font-style: normal;
}
.btn {
  display: flex;
  justify-content: center;
  margin-bottom: 10%;
}
.btn__prochainement {
  width: 40vw;
  display: flex;
  justify-content: center;
  color: #fdcb46;
  font-size: 4vw;
  background: #579c87;
  border-radius: 0.5em;
  padding-top: 0.4em;
  padding-bottom: 0.4em;
  padding-left: 0.7em;
  padding-right: 0.7em;
}
.btn__prochainement span {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 0.4em;
  width: 0.4em;
  height: 0.4em;
  background-color: #fdcb46;
  border-radius: 50%;
  display: inline-block;
}

.p1 {
  animation: points 0.9s ease 0s infinite;
}

.p2 {
  animation: points 0.9s ease 0.3s infinite;
}

.p3 {
  animation: points 0.9s ease 0.6s infinite;
}

/*RESPONSIVE*/
@media all and (min-width: 800px) {
  .btn {
    width: 400px;
  }
  .btn__prochainement {
    width: 100%;
    font-size: 36px;
  }
}
@media all and (max-width: 400px) {
  .btn {
    margin-bottom: 30%;
  }
}
header {
  width: 100%;
  background: #579c87;
  text-align: center;
}
header h1 {
  color: #fdcb46;
  font-size: 2em;
}

@media all and (min-width: 960px) {
  header h1 {
    color: #fdcb46;
    font-size: 2.5em;
  }
}
.footer {
  width: 100%;
  background: #579c87;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 0;
  padding: 1.5rem;
}
.footer__btn:hover {
  animation: wiggle 100ms;
  animation-iteration-count: infinite;
}

.Mentions_légales {
  color: #fdcb46;
  margin-left: 1.5em;
  font-size: 1.1em;
  text-decoration: none;
}

.Contactez-nous {
  color: #fdcb46;
  margin-right: 1.5em;
  font-size: 1.1em;
  text-decoration: none;
}

/*RESPONSIVE*/
@media all and (min-width: 960px) {
  .Mentions_légales, .Contactez-nous {
    font-size: 1.5em;
  }
}
.row1 {
  display: flex;
  justify-content: center;
}
.row1__menu1 {
  width: 35vw;
  max-width: 400px;
  height: 52.5vw;
  max-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.24);
  cursor: pointer;
  margin-top: 5%;
  margin-left: 2.5vw;
  margin-right: 2.5vw;
  background: #fcdfdb;
  font-family: "calligraffitiregular", sans-serif;
  color: #542c31;
}
.row1__menu2 {
  width: 35vw;
  max-width: 400px;
  height: 52.5vw;
  max-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.24);
  cursor: pointer;
  margin-top: 5%;
  margin-left: 2.5vw;
  margin-right: 2.5vw;
  background: #fff5fe;
  font-family: "redressedregular", sans-serif;
}
.row1__menu2 .txt_menu p {
  background: linear-gradient(to right, #de8621, #8f5bfe);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.row1__menu2 .txt_menu h2 {
  background: linear-gradient(to right, #de8621, #8f5bfe);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.row2 {
  display: flex;
  justify-content: center;
}
.row2__menu3 {
  width: 35vw;
  max-width: 400px;
  height: 52.5vw;
  max-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.24);
  cursor: pointer;
  margin-top: 5%;
  margin-left: 2.5vw;
  margin-right: 2.5vw;
  background: #edefef;
  font-family: "black_jackregular", sans-serif;
}
.row2__menu3 .txt_menu p {
  background: linear-gradient(to bottom right, #052add, #1a91fa);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.row2__menu3 .txt_menu h2 {
  background: linear-gradient(to bottom right, #052add, #1a91fa);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.row2__menu4 {
  width: 35vw;
  max-width: 400px;
  height: 52.5vw;
  max-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.24);
  cursor: pointer;
  margin-top: 5%;
  margin-left: 2.5vw;
  margin-right: 2.5vw;
  background: #fdfffd;
  font-family: "playtime_with_hot_toddiesRg", sans-serif;
}
.row2__menu4 .txt_menu p {
  background: linear-gradient(to bottom right, #3d923a, #beff7f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.row2__menu4 .txt_menu h2 {
  background: linear-gradient(to bottom right, #3d923a, #beff7f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.txt_menu {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.txt_menu p {
  font-size: 2.5vw;
  margin-bottom: -10%;
}
.txt_menu h2 {
  font-size: 4.5vw;
}
.txt_menu i {
  background: linear-gradient(to right, #f05761, #f6916a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3.5vw;
}

.row1__menu1:hover .txt_menu, .row1__menu2:hover .txt_menu, .row2__menu3:hover .txt_menu, .row2__menu4:hover .txt_menu {
  transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  transform: scale(1.2);
  -ms-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  opacity: 50%;
}

/*RESPONSIVE*/
/*---------------------------------------ECRANS LARGES*/
@media all and (min-width: 960px) {
  .row1__menu1, .row1__menu2, .row2__menu3, .row2__menu4 {
    width: 35vw;
    max-width: 350px;
    height: 52.5vw;
    max-height: 525px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.24);
    cursor: pointer;
    margin-top: 10%;
    margin-right: 30px;
    margin-left: 30px;
  }

  .txt_menu p {
    font-size: 26px;
    margin-bottom: -10%;
  }
  .txt_menu h2 {
    font-size: 42px;
  }
  .txt_menu i {
    background: linear-gradient(to right, #f05761, #f6916a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 40px;
  }
}
/*---------------------------------------PETITS ECRANS*/
@media all and (max-width: 400px) {
  .row1, .row2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .row1__menu1, .row1__menu2, .row2__menu3, .row2__menu4 {
    width: 70vw;
    max-width: 400px;
    height: 105vw;
    max-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.24);
    cursor: pointer;
    margin-top: 10%;
  }

  .txt_menu p {
    font-size: 7vw;
    margin-bottom: -10%;
  }
  .txt_menu h2 {
    font-size: 9vw;
  }
  .txt_menu i {
    background: linear-gradient(to right, #f05761, #f6916a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 10vw;
  }
}
.menu1 {
  margin-bottom: 10%;
  text-align: center;
}
.menu1 h1 {
  font-size: 5vw;
}
.menu1__menu {
  width: 80vw;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.24);
  background: #fcdfdb;
  color: #542c31;
  font-family: "calligraffitiregular", sans-serif;
}
.menu1__menu .header_menu1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 3.5vw;
  margin-top: 2em;
}
.menu1__menu .header_menu1 i {
  background: linear-gradient(to right, #f05761, #f6916a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 9vw;
}
.menu1__menu .footer_menu1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 3vw;
  margin-bottom: 5%;
}
.menu1__menu .footer_menu1 p {
  font-weight: bold;
  margin-left: 0.7em;
}
.menu1__menu .footer_menu1 i {
  background: linear-gradient(to right, #f05761, #f6916a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 5vw;
}

.tableau1 {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 3vw;
  line-height: 1.8em;
  margin-top: -2.5em;
}
.tableau1 table {
  width: 100%;
}
.tableau1 table tr {
  text-align: left;
  display: flex;
  justify-content: space-between;
}
.tableau1 caption {
  font-size: 3.5vw;
  font-weight: bold;
}
.tableau1 caption .menu1_trait_gauche {
  width: 25%;
  vertical-align: middle;
}
.tableau1 caption .menu1_trait_droit {
  width: 25%;
  vertical-align: middle;
}
.tableau1 .price {
  font-weight: bold;
}
.tableau1__entree {
  margin-top: 3em;
}
.tableau1__plat {
  margin-top: 3em;
}
.tableau1__dessert {
  margin-top: 3em;
}

/*RESPONSIVE*/
@media all and (min-width: 770px) {
  .menu1 h1 {
    font-size: 36px;
  }
  .menu1__menu {
    width: 700px;
  }
  .menu1__menu .header_menu1 {
    font-size: 30px;
  }
  .menu1__menu .header_menu1 i {
    font-size: 3em;
  }
  .menu1__menu .footer_menu1 {
    font-size: 28px;
    margin-bottom: 5%;
  }
  .menu1__menu .footer_menu1 p {
    font-weight: bold;
    margin-left: 0.7em;
  }
  .menu1__menu .footer_menu1 i {
    background: linear-gradient(to right, #f05761, #f6916a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 38px;
  }

  .tableau1 {
    font-size: 20px;
  }
  .tableau1 caption {
    font-size: 26px;
  }
}
.menu2 {
  margin-bottom: 10%;
  text-align: center;
}
.menu2 h1 {
  font-size: 5vw;
}
.menu2__menu {
  width: 80vw;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.24);
  background: #fff5fe;
  font-family: "redressedregular", sans-serif;
}
.menu2__menu .header_menu2 {
  background: linear-gradient(to right, #de8621, #8f5bfe);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 3.5vw;
  margin-top: 2em;
}

.tableau2 {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 3vw;
  line-height: 1.8em;
  margin-top: -2.5em;
  margin-bottom: 5%;
}
.tableau2 table {
  width: 100%;
}
.tableau2 table tr {
  text-align: left;
  display: flex;
  justify-content: space-between;
}
.tableau2 caption {
  font-size: 3.5vw;
}
.tableau2 caption .menu2_trait_gauche {
  width: 25%;
  vertical-align: middle;
}
.tableau2 caption .menu2_trait_droit {
  width: 25%;
  vertical-align: middle;
  transform: scaleX(-1);
}
.tableau2 .price {
  font-weight: bold;
}
.tableau2__entree {
  margin-top: 3em;
  color: #c67412;
}
.tableau2__plat {
  margin-top: 3em;
  color: #a56799;
}
.tableau2__dessert {
  margin-top: 3em;
  color: #7858cf;
}

/*RESPONSIVE*/
@media all and (min-width: 770px) {
  .menu2 h1 {
    font-size: 36px;
  }
  .menu2__menu {
    width: 700px;
  }
  .menu2__menu .header_menu2 {
    font-size: 30px;
  }
  .menu2__menu .header_menu2 i {
    font-size: 3em;
  }

  .tableau2 {
    font-size: 20px;
  }
  .tableau2 caption {
    font-size: 26px;
  }
}
.menu3 {
  margin-bottom: 10%;
  text-align: center;
}
.menu3 h1 {
  font-size: 5vw;
}
.menu3__menu {
  width: 80vw;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.24);
  background: #edefef;
  color: #343535;
  font-family: "black_jackregular", sans-serif;
}
.menu3__menu .header_menu3 {
  background: linear-gradient(to bottom right, #052add, #1a91fa);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 3.5vw;
  margin-top: 2em;
}

.tableau3 {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 3vw;
  line-height: 1.8em;
  margin-top: -2.5em;
  margin-bottom: 5%;
}
.tableau3 table {
  width: 100%;
}
.tableau3 table tr {
  text-align: left;
  display: flex;
  justify-content: space-between;
}
.tableau3 caption {
  font-size: 3.5vw;
}
.tableau3 caption .menu3_trait_gauche {
  width: 25%;
  vertical-align: middle;
}
.tableau3 caption .menu3_trait_droit {
  width: 25%;
  vertical-align: middle;
  transform: scaleX(-1);
}
.tableau3 .price {
  font-weight: bold;
}
.tableau3__entree {
  margin-top: 3em;
}
.tableau3__plat {
  margin-top: 3em;
}
.tableau3__dessert {
  margin-top: 3em;
}

/*RESPONSIVE*/
@media all and (min-width: 770px) {
  .menu3 h1 {
    font-size: 36px;
  }
  .menu3__menu {
    width: 700px;
  }
  .menu3__menu .header_menu3 {
    font-size: 30px;
  }
  .menu3__menu .header_menu3 i {
    font-size: 3em;
  }

  .tableau3 {
    font-size: 20px;
  }
  .tableau3 caption {
    font-size: 26px;
  }
}
.menu4 {
  margin-bottom: 10%;
  text-align: center;
}
.menu4 h1 {
  font-size: 5vw;
}
.menu4__menu {
  width: 80vw;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.24);
  background: #fdfffd;
  color: #161716;
  font-family: "playtime_with_hot_toddiesRg", sans-serif;
}
.menu4__menu .header_menu4 {
  background: linear-gradient(to bottom right, #3d923a, #beff7f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 3.5vw;
  margin-top: 2em;
}

.tableau4 {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 3vw;
  line-height: 1.8em;
  margin-top: -2.5em;
  margin-bottom: 5%;
}
.tableau4 table {
  width: 100%;
}
.tableau4 table tr {
  text-align: left;
  display: flex;
  justify-content: space-between;
}
.tableau4 caption {
  font-size: 3.5vw;
}
.tableau4 caption .menu4_trait_gauche {
  width: 25%;
  vertical-align: middle;
}
.tableau4 caption .menu4_trait_droit {
  width: 25%;
  vertical-align: middle;
  transform: scaleX(-1);
}
.tableau4 .price {
  font-weight: bold;
}
.tableau4__entree {
  margin-top: 3em;
}
.tableau4__plat {
  margin-top: 3em;
}
.tableau4__dessert {
  margin-top: 3em;
}

/*RESPONSIVE*/
@media all and (min-width: 770px) {
  .menu4 h1 {
    font-size: 36px;
  }
  .menu4__menu {
    width: 700px;
  }
  .menu4__menu .header_menu4 {
    font-size: 30px;
  }
  .menu4__menu .header_menu4 i {
    font-size: 3em;
  }

  .tableau4 {
    font-size: 20px;
  }
  .tableau4 caption {
    font-size: 26px;
  }
}
/*
Utils :
    Variables.
    Fonctions.
    Mixins.
    Placeholders.
Feuilles de style de tiers (vendors).
Base.
Composants.
Layout.
Pages.
Thèmes.
*/

/*# sourceMappingURL=style.css.map */
