@charset "UTF-8";
/*COLORS*/
/*SIZE*/
/*tremblements*/
@keyframes wiggle {
  0% {
    transform: translate(0, 0) rotate(0);
  }
  15% {
    transform: translate(-1px, -1px) rotate(-1deg);
  }
  30% {
    transform: translate(1px, 1px) rotate(1deg);
  }
  45% {
    transform: translate(-2px, -3px) rotate(0deg);
  }
  60% {
    transform: translate(3px, 2px) rotate(-1deg);
  }
  75% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(-1deg);
  }
  100% {
    transform: translate(0px, 0px) rotate(0deg);
  }
}
/*prochainement*/
@keyframes points {
  from {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
  to {
    opacity: 0.3;
    transform: scale 0.5 translateY(5rem);
  }
}
body {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

main {
  margin-top: 2rem;
  width: 85%;
}

.btn__prochainement {
  color: #fdcb46;
  font-size: 1rem;
  text-decoration: none;
  background: #579c87;
  padding: 0.5rem 5rem;
  border-radius: 0.6rem;
}
.btn__prochainement span {
  width: 0.4rem;
  height: 0.4rem;
  background-color: #fdcb46;
  border-radius: 50%;
  display: inline-block;
}

.p1 {
  animation: points 0.9s ease 0s infinite;
}

.p2 {
  animation: points 0.9s ease 0.3s infinite;
}

.p3 {
  animation: points 0.9s ease 0.6s infinite;
}

/*footer*/
.footer__btn:hover {
  animation: wiggle 100ms 3;
}
.footer__btn .Mentions_légales {
  color: #fdcb46;
  margin-left: 1.5rem;
  font-size: 1.1rem;
  text-decoration: none;
}
.footer__btn .Contactez-nous {
  color: #fdcb46;
  margin-right: 1.5rem;
  font-size: 1.1rem;
  text-decoration: none;
}

header {
  width: 100%;
  background: #579c87;
  text-align: center;
}
header h1 {
  color: #fdcb46;
  font-size: 2rem;
}

.footer {
  width: 100%;
  background: #579c87;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 0;
  padding: 1.5rem;
}

.row1 {
  display: flex;
  justify-content: space-between;
}
.row1__menu1 {
  width: 40%;
  height: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.24);
  cursor: pointer;
  background: #fcdfdb;
  margin-left: 5%;
}
.row1__menu2 {
  width: 40%;
  height: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.24);
  cursor: pointer;
  background: #fff5fe;
  margin-right: 5%;
}

.row2 {
  margin-top: 8%;
  display: flex;
  justify-content: space-between;
}
.row2__menu3 {
  width: 40%;
  height: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.24);
  cursor: pointer;
  background: #edefef;
  margin-left: 5%;
}
.row2__menu4 {
  width: 40%;
  height: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.24);
  cursor: pointer;
  background: #fdfffd;
  margin-right: 5%;
}

.btn {
  margin-top: 10%;
  display: flex;
  justify-content: center;
}

.menu1 {
  margin-top: 7rem;
  width: 80%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.menu1 h1 {
  font-size: 2.2em;
}
.menu1__menu {
  width: 75%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.24);
  background: #fcdfdb;
  color: #542c31;
}
.menu1__menu .header_menu1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
  font-size: 1.4rem;
}
.menu1__menu .header_menu1 i {
  background: linear-gradient(to right, #f05761, #f6916a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: -1rem;
}
.menu1__menu .footer_menu1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 3rem;
}
.menu1__menu .footer_menu1 p {
  font-weight: bold;
  margin-left: 0.7rem;
}
.menu1__menu .footer_menu1 i {
  background: linear-gradient(to right, #f05761, #f6916a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2rem;
}

.tableau1 {
  width: 80%;
  display: flex;
  flex-direction: column;
  font-size: 1.1em;
  line-height: 1.8em;
  margin-top: -2.5rem;
}
.tableau1 caption {
  font-size: 1.2em;
  font-weight: bold;
  line-height: 3em;
}
.tableau1 .price {
  font-weight: bold;
}
.tableau1__entree {
  margin-top: 3rem;
}
.tableau1__entree--caption::before {
  width: 11rem;
  content: "";
  display: inline-block;
  vertical-align: middle;
  border-bottom: 3px solid #542c31;
  margin-right: 7.1rem;
}
.tableau1__entree--caption::after {
  width: 11rem;
  content: "";
  display: inline-block;
  vertical-align: middle;
  border-bottom: 3px solid #542c31;
  margin-left: 7.1rem;
}
.tableau1__plat {
  margin-top: 3rem;
}
.tableau1__plat--caption::before {
  width: 11rem;
  content: "";
  display: inline-block;
  vertical-align: middle;
  border-bottom: 3px solid #542c31;
  margin-right: 5.5rem;
}
.tableau1__plat--caption::after {
  width: 11rem;
  content: "";
  display: inline-block;
  vertical-align: middle;
  border-bottom: 3px solid #542c31;
  margin-left: 5.5rem;
}
.tableau1__dessert {
  margin-top: 3rem;
}
.tableau1__dessert--caption::before {
  width: 11rem;
  content: "";
  display: inline-block;
  vertical-align: middle;
  border-bottom: 3px solid #542c31;
  margin-right: 4.5rem;
}
.tableau1__dessert--caption::after {
  width: 11rem;
  content: "";
  display: inline-block;
  vertical-align: middle;
  border-bottom: 3px solid #542c31;
  margin-left: 4.5rem;
}
.tableau1 tr {
  display: flex;
  justify-content: space-between;
}

.menu2 {
  margin-top: 7rem;
  width: 80%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.menu2 h1 {
  font-size: 2.2em;
}
.menu2__menu {
  width: 75%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.24);
  background: #fff5fe;
}
.menu2__menu .header_menu2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
  background: linear-gradient(to bottom right, #de8621, #8f5bfe);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.4rem;
}

.tableau2 {
  width: 80%;
  display: flex;
  flex-direction: column;
  font-size: 1.1em;
  line-height: 1.8em;
  margin-top: -2.5rem;
  margin-bottom: 5rem;
}
.tableau2 caption {
  font-size: 1.2em;
  font-weight: bold;
  line-height: 3em;
}
.tableau2 .price {
  font-weight: bold;
}
.tableau2__entree {
  margin-top: 3rem;
  color: #c67412;
}
.tableau2__plat {
  margin-top: 3rem;
  color: #a56799;
}
.tableau2__dessert {
  margin-top: 3rem;
  color: #7858cf;
}
.tableau2 tr {
  display: flex;
  justify-content: space-between;
}

.menu3 {
  margin-top: 7rem;
  width: 80%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.menu3 h1 {
  font-size: 2.2em;
}
.menu3__menu {
  width: 75%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.24);
  background: #edefef;
}
.menu3__menu .header_menu3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
  background: linear-gradient(to bottom right, #052add, #1a91fa);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.4rem;
}

.tableau3 {
  width: 80%;
  display: flex;
  flex-direction: column;
  font-size: 1.1em;
  line-height: 1.8em;
  margin-top: -2.5rem;
  margin-bottom: 5rem;
  color: #343535;
}
.tableau3 caption {
  font-size: 1.2em;
  font-weight: bold;
  line-height: 3em;
}
.tableau3 .price {
  font-weight: bold;
}
.tableau3__entree {
  margin-top: 3rem;
}
.tableau3__plat {
  margin-top: 3rem;
}
.tableau3__dessert {
  margin-top: 3rem;
}
.tableau3 tr {
  display: flex;
  justify-content: space-between;
}

.menu4 {
  margin-top: 7rem;
  width: 80%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.menu4 h1 {
  font-size: 2.2em;
}
.menu4__menu {
  width: 75%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.24);
  background: #fdfffd;
}
.menu4__menu .header_menu4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
  background: linear-gradient(to bottom right, #3d923a, #beff7f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.4rem;
}

.tableau4 {
  width: 80%;
  display: flex;
  flex-direction: column;
  font-size: 1.1em;
  line-height: 1.8em;
  margin-top: -2.5rem;
  margin-bottom: 5rem;
  color: #161716;
}
.tableau4 caption {
  font-size: 1.2em;
  font-weight: bold;
  line-height: 3em;
}
.tableau4 .price {
  font-weight: bold;
}
.tableau4__entree {
  margin-top: 3rem;
}
.tableau4__plat {
  margin-top: 3rem;
}
.tableau4__dessert {
  margin-top: 3rem;
}
.tableau4 tr {
  display: flex;
  justify-content: space-between;
}

/*
Utils :
    Variables.
    Fonctions.
    Mixins.
    Placeholders.
Feuilles de style de tiers (vendors).
Base.
Composants.
Layout.
Pages.
Thèmes.
*/

/*# sourceMappingURL=style.css.map */
