/*MENU1*/
@font-face {
    font-family: 'calligraffitiregular';
    src: url('fonts/calligraffiti_regular_macroman/Calligraffiti-webfont.eot');
    src: url('fonts/calligraffiti_regular_macroman/Calligraffiti-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/calligraffiti_regular_macroman/Calligraffiti-webfont.woff2') format('woff2'),
         url('fonts/calligraffiti_regular_macroman/Calligraffiti-webfont.woff') format('woff'),
         url('fonts/calligraffiti_regular_macroman/Calligraffiti-webfont.ttf') format('truetype'),
         url('fonts/calligraffiti_regular_macroman/Calligraffiti-webfont.svg#calligraffitiregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sf_burlington_scriptBdIt';
    src: url('fonts/sfbolditalic/SF_Burlington_Script_Bold_Italic-webfont.eot');
    src: url('fonts/sfbolditalic/SF_Burlington_Script_Bold_Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/sfbolditalic/SF_Burlington_Script_Bold_Italic-webfont.woff2') format('woff2'),
         url('fonts/sfbolditalic/SF_Burlington_Script_Bold_Italic-webfont.woff') format('woff'),
         url('fonts/sfbolditalic/SF_Burlington_Script_Bold_Italic-webfont.ttf') format('truetype'),
         url('fonts/sfbolditalic/SF_Burlington_Script_Bold_Italic-webfont.svg#sf_burlington_scriptBdIt') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sf_burlington_scriptbold';
    src: url('fonts/sfbold/SF_Burlington_Script_Bold-webfont.eot');
    src: url('fonts/sfbold/SF_Burlington_Script_Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/sfbold/SF_Burlington_Script_Bold-webfont.woff2') format('woff2'),
         url('fonts/sfbold/SF_Burlington_Script_Bold-webfont.woff') format('woff'),
         url('fonts/sfbold/SF_Burlington_Script_Bold-webfont.ttf') format('truetype'),
         url('fonts/sfbold/SF_Burlington_Script_Bold-webfont.svg#sf_burlington_scriptbold') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'sf_burlington_scriptitalic';
    src: url('fonts/sfitalic/SF_Burlington_Script_Italic-webfont.eot');
    src: url('fonts/sfitalic/SF_Burlington_Script_Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/sfitalic/SF_Burlington_Script_Italic-webfont.woff2') format('woff2'),
         url('fonts/sfitalic/SF_Burlington_Script_Italic-webfont.woff') format('woff'),
         url('fonts/sfitalic/SF_Burlington_Script_Italic-webfont.ttf') format('truetype'),
         url('fonts/sfitalic/SF_Burlington_Script_Italic-webfont.svg#sf_burlington_scriptitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sf_burlington_scriptregular';
    src: url('fonts/sfregular/SF_Burlington_Script-webfont.eot');
    src: url('fonts/sfregular/SF_Burlington_Script-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/sfregular/SF_Burlington_Script-webfont.woff2') format('woff2'),
         url('fonts/sfregular/SF_Burlington_Script-webfont.woff') format('woff'),
         url('fonts/sfregular/SF_Burlington_Script-webfont.ttf') format('truetype'),
         url('fonts/sfregular/SF_Burlington_Script-webfont.svg#sf_burlington_scriptregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*MENU2*/
@font-face {
    font-family: 'redressedregular';
    src: url('fonts/redressed_regular_macroman/Redressed-webfont.eot');
    src: url('fonts/redressed_regular_macroman/Redressed-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/redressed_regular_macroman/Redressed-webfont.woff2') format('woff2'),
         url('fonts/redressed_regular_macroman/Redressed-webfont.woff') format('woff'),
         url('fonts/redressed_regular_macroman/Redressed-webfont.ttf') format('truetype'),
         url('fonts/redressed_regular_macroman/Redressed-webfont.svg#redressedregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*MENU3*/
@font-face {
    font-family: 'black_jackregular';
    src: url('fonts/blackjack_regular_macroman/blackjack-webfont.eot');
    src: url('fonts/blackjack_regular_macroman/blackjack-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/blackjack_regular_macroman/blackjack-webfont.woff2') format('woff2'),
         url('fonts/blackjack_regular_macroman/blackjack-webfont.woff') format('woff'),
         url('fonts/blackjack_regular_macroman/blackjack-webfont.ttf') format('truetype'),
         url('fonts/blackjack_regular_macroman/blackjack-webfont.svg#black_jackregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*MENU4*/
@font-face {
    font-family: 'playtime_with_hot_toddiesRg';
    src: url('fonts/playtimewithhottoddies_regular_macroman/playtime-webfont.eot');
    src: url('fonts/playtimewithhottoddies_regular_macroman/playtime-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/playtimewithhottoddies_regular_macroman/playtime-webfont.woff2') format('woff2'),
         url('fonts/playtimewithhottoddies_regular_macroman/playtime-webfont.woff') format('woff'),
         url('fonts/playtimewithhottoddies_regular_macroman/playtime-webfont.ttf') format('truetype'),
         url('fonts/playtimewithhottoddies_regular_macroman/playtime-webfont.svg#playtime_with_hot_toddiesRg') format('svg');
    font-weight: normal;
    font-style: normal;
}


