.btn{
    display: flex;
    justify-content: center;
    margin-bottom: 10%;
    &__prochainement{
        width: 40vw;
        display: flex;
        justify-content: center;
        color: $color-secondary;
        font-size: 4vw;
        background: $color-main;
        border-radius: 0.5em;
        padding-top: 0.4em;
        padding-bottom: 0.4em;
        padding-left: 0.7em;
        padding-right: 0.7em;
        & span{
            margin-top: auto;
            margin-bottom: auto;
            margin-left: 0.4em;
            width: 0.4em;
            height: 0.4em;
            background-color: $color-secondary;
            border-radius: 50%;
            display: inline-block
        }
    }
}
.p1{
    animation: points 0.9s ease 0s infinite;
}
.p2{
    animation: points 0.9s ease 0.3s infinite;
}
.p3{
    animation: points 0.9s ease 0.6s infinite;
}

/*RESPONSIVE*/

@media all and (min-width: 800px){
    .btn{
        width: 400px;
        &__prochainement{
            width: 100%;
            font-size: 36px;
        }
    }
}

@media all and (max-width: 400px){
    .btn{
        margin-bottom: 30%;
    }
}