
.row1{
    display: flex;
    justify-content: center;
    &__menu1{
        @include menu_page_accueil;
        background: $color-menu1;
        font-family: 'calligraffitiregular', sans-serif;
        color: $color-menu1-txt;        
    }
    &__menu2{
        @include menu_page_accueil;
        background: $color-menu2;
        font-family: 'redressedregular', sans-serif;       
        & .txt_menu{
            & p{
                @include degrade_titre_menu2;    
            }
            & h2{
                @include degrade_titre_menu2; 
            }    
        }
    }
}

.row2{
    display: flex;
    justify-content: center;
    &__menu3{
        @include menu_page_accueil;
        background: $color-menu3;
        font-family: 'black_jackregular', sans-serif;
        & .txt_menu{
            & p{
                @include degrade_titre_menu3;    
            }
            & h2{
                @include degrade_titre_menu3; 
            }    
        }
    }
    &__menu4{
        @include menu_page_accueil;
        background: $color-menu4;
        font-family: 'playtime_with_hot_toddiesRg', sans-serif;
        & .txt_menu{
            & p{
                @include degrade_titre_menu4;    
            }
            & h2{
                @include degrade_titre_menu4; 
            }    
        }
    }
}

.txt_menu{
    display: flex;
    align-items: center;
    flex-direction: column;
    & p{
        font-size: 2.5vw;
        margin-bottom: -10%;
    }
    & h2{
        font-size: 4.5vw;
    }
    & i{
        @include degrade_note;
        font-size: 3.5vw;
    }
}

.row1__menu1, .row1__menu2, .row2__menu3, .row2__menu4{
    @include animation_menu;
}


/*RESPONSIVE*/

/*---------------------------------------ECRANS LARGES*/

@media all and (min-width: 960px){
    .row1__menu1, .row1__menu2, .row2__menu3, .row2__menu4{
        @include menu_page_accueil_grands_ecrans;
    }
    .txt_menu{
        & p{
            font-size: 26px;
            margin-bottom: -10%;
        }
        & h2{
            font-size: 42px;
        }
        & i{
            @include degrade_note;
            font-size: 40px;
        }
    }   
}

/*---------------------------------------PETITS ECRANS*/

@media all and (max-width: 400px){
    .row1, .row2{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .row1__menu1, .row1__menu2, .row2__menu3, .row2__menu4{
        @include menu_page_accueil_petits_ecrans;
    }
        .txt_menu{
        & p{
            font-size: 7vw;
            margin-bottom: -10%;
        }
        & h2{
            font-size: 9vw;
        }
        & i{
            @include degrade_note;
            font-size: 10vw;
        }
    }
}