
.row1{
    display: flex;
    justify-content: space-between;

    &__menu1{
        @include menu_page_accueil;
        background: $color-menu1;
        margin-left: $margin-menu;
        

    }
    &__menu2{
        @include menu_page_accueil;
        background: $color-menu2;
        margin-right: $margin-menu;
        
    }
}

.row2{
    margin-top: 8%;
    display: flex;
    justify-content: space-between;
    &__menu3{
        @include menu_page_accueil;
        background: $color-menu3;
        margin-left: $margin-menu;
    }
    &__menu4{
        @include menu_page_accueil;
        background: $color-menu4;
        margin-right: $margin-menu;
    }
}

.btn{
    margin-top: 10%;
    display: flex;
    justify-content: center;
}