.menu4{
    @include parametre_page_menu;
    &__menu{
        @include menu;
        background: $color-menu4;       
        color: $color-menu4-txt;
        font-family: 'playtime_with_hot_toddiesRg', sans-serif;
        & .header_menu4{  
            @include degrade_titre_menu4;
            @include parametre_header_menu;
        }
    }
}

.tableau4{
    @include parametre_tableau;
    margin-bottom: $margin-bottom-menu;
    & caption{
        font-size: $police-section-menu;
        & .menu4_trait_gauche{
            @include parametre_trait;
        }
        & .menu4_trait_droit{
            @include parametre_trait;
            transform: scaleX(-1);;
        }
    }
    & .price {
        font-weight: bold;
    }
    &__entree{    
        margin-top: $margin-top-sous-menu;     
    }
    &__plat{
        margin-top: $margin-top-sous-menu;
    }
    &__dessert{
        margin-top: $margin-top-sous-menu;
    }
}

/*RESPONSIVE*/

@media all and (min-width: 770px){
    .menu4{
        & h1{
            font-size: $ls-police-h1;   
        }
        &__menu{
            width: $ls-width-menu;
            & .header_menu4{
                @include ls_parametre_header_menu;
            }   
        }
    } 
    .tableau4{
        @include ls_parametre_tableau;
    }
}