.menu1{
    width: 80%;
    margin-bottom: 30%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    & h1{
        font-size: 1.5rem;
    }
    &__menu{
        @include menu;
        background: $color-menu1;
        color: $color-menu1-txt;
        font-family: 'calligraffitiregular', sans-serif;
        & .header_menu1{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 1rem;
            font-size: $police-titre-menu;
            & i{
                @include degrade_note;
                font-size: 2.5rem;
                margin-bottom: -1rem;
            }
        }
        & .footer_menu1{
            display: flex;
            flex-direction: row;
            align-items: center;
            font-size: 1.3rem;
            & p{
                font-weight: bold;
                margin-left: 0.7rem;
            }
            & i{
                @include degrade_note;
                font-size: 2rem;
            }
        }
    }
}

.tableau1{
    width: 80%;
    display: flex;
    flex-direction: column;
    font-size: $police-menu;
    line-height: 1.8em;
    margin-top: -2.5rem;
    & caption{
        @include caption;
        & .menu1_trait_gauche{
            width: 25%;
            vertical-align: middle;
        }
        & .menu1_trait_droit{
            width: 25%;
            vertical-align: middle;
        }
    }
    & .price {
        font-weight: bold;
    }
    &__entree{    
        margin-top: 3rem; 
    }
    &__plat{
        margin-top: 3rem;
    }
    &__dessert{
        margin-top: 3rem;
    }
    & tr {
        display: flex;
        justify-content: space-between;
    }
}