.menu1{
    margin-bottom: 20%;
    text-align: center;
    & h1{
        font-size: 5vw;   
    }
    &__menu{
        @include menu;
        background: $color-menu1;
        color: $color-menu1-txt;
        font-family: 'calligraffitiregular', sans-serif;
        & .header_menu1{
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: $police-titre-menu;
            margin-top: 2em;
            & i{
                @include degrade_note;
                font-size: 9vw;                
            }
        }
        & .footer_menu1{
            display: flex;
            flex-direction: row;
            align-items: center;
            font-size: 3vw;
            margin-bottom: 5%;
            & p{
                font-weight: bold;
                margin-left: 0.7em;
            }
            & i{
                @include degrade_note;
                font-size: 5vw;
            }
        }
    }
}

.tableau1{
    width: 80%;
    display: flex;
    flex-direction: column;
    font-size: $police-menu;
    line-height: 1.8em;
    margin-top: -2.5em;
    & caption{
        font-size: $police-section-menu;
        font-weight: bold;
        & .menu1_trait_gauche{
            width: 25%;
            vertical-align: middle;
        }
        & .menu1_trait_droit{
            width: 25%;
            vertical-align: middle;
        }
    }
    & .price {
        font-weight: bold;
    }
    &__entree{    
        margin-top: 3em; 
    }
    &__plat{
        margin-top: 3em;
    }
    &__dessert{
        margin-top: 3em;
    }
    & tr {
        display: flex;
        justify-content: space-between;
        text-align: left;
    }
}

/*RESPONSIVE*/

@media all and (min-width: 770px){
    .menu1{
        & h1{
            font-size: 36px;   
        }
        &__menu{
            width: 700px;
            & .header_menu1{
                font-size: 30px;
                & i{
                    font-size: 3em;                
                }
            }
            & .footer_menu1{
                font-size: 28px;
                margin-bottom: 5%;
                & p{
                    font-weight: bold;
                    margin-left: 0.7em;
                }
                & i{
                    @include degrade_note;
                    font-size: 38px;
                }
            }
        }
    } 
    .tableau1{
        font-size: 20px;
        & caption{
            font-size: 26px;
        }
    }
}