.menu2{
    @include parametre_page_menu;
    &__menu{
        @include menu;
        background: $color-menu2;
        font-family: 'redressedregular', sans-serif;
        & .header_menu2{       
            @include degrade_titre_menu2;
            @include parametre_header_menu;
        }
    }
}

.tableau2{
    @include parametre_tableau;
    margin-bottom: $margin-bottom-menu;
    & caption{
        font-size: $police-section-menu;     
        & .menu2_trait_gauche{
            @include parametre_trait;
        }
        & .menu2_trait_droit{
            @include parametre_trait;
            transform: scaleX(-1);
        }
    }
    & .price {
        font-weight: bold;
    }
    &__entree{    
        margin-top: $margin-top-sous-menu;
        color: $color-menu2-txt1; 
    }
    &__plat{
        margin-top: $margin-top-sous-menu;
        color: $color-menu2-txt2;
    }
    &__dessert{
        margin-top: $margin-top-sous-menu;
        color: $color-menu2-txt3;
    }
}

/*RESPONSIVE*/

@media all and (min-width: 770px){
    .menu2{
        & h1{
            font-size: $ls-police-h1;   
        }
        &__menu{
            width: $ls-width-menu;
            & .header_menu2{
                @include ls_parametre_header_menu;
            }   
        }
    } 
    .tableau2{
        @include ls_parametre_tableau;
    }
}