.menu3{
    @include parametre_page_menu;
    &__menu{
        @include menu;
        background: $color-menu3;
        color: $color-menu3-txt;
        font-family: 'black_jackregular', sans-serif;
        & .header_menu3{    
            @include degrade_titre_menu3;
            @include parametre_header_menu;
        }
    }
}

.tableau3{
    @include parametre_tableau;
    margin-bottom: $margin-bottom-menu;
    & caption{
        @include parametre_caption;
        & .menu3_trait_gauche{
            @include parametre_trait;
        }
        & .menu3_trait_droit{
            @include parametre_trait;
            transform: scaleX(-1);;
        }
    }
    & .price {
        font-weight: bold;
    }
    &__entree{    
        margin-top: $margin-top-sous-menu;
        
    }
    &__plat{
        margin-top: $margin-top-sous-menu;
    }
    &__dessert{
        margin-top: $margin-top-sous-menu;
    }
}

/*RESPONSIVE*/

@media all and (min-width: 770px){
    .menu3{
        & h1{
            font-size: $ls-police-h1;   
        }
        &__menu{
            width: $ls-width-menu;
            & .header_menu3{
                @include ls_parametre_header_menu;
            }   
        }
    } 
    .tableau3{
        @include ls_parametre_tableau;
    }
}