@mixin menu_page_accueil {
    width: 35vw;
    max-width: 400px;
    height: 1.5*35vw;
    max-height: 1.5*400px;
    margin-left: 5vw; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.24);
    cursor: pointer;
}

@mixin menu {
    width: 80vw;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.24);
}

@mixin degrade_note {
    background: linear-gradient(to right, #f05761, #f6916a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@mixin degrade_titre_menu2 {
    background: linear-gradient(to bottom right, #de8621, #8f5bfe);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@mixin degrade_titre_menu3 {
    background: linear-gradient(to bottom right, #052add, #1a91fa);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@mixin degrade_titre_menu4 {
    background: linear-gradient(to bottom right, #3d923a, #beff7f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


@mixin ligne_titre {
    width: 11rem;
    content:'';
    display: inline-block;
    vertical-align: middle;
}