@mixin menu_page_accueil {
    width: 40%;
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.24);
    cursor: pointer;
}

@mixin menu {
    width: 75%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.24);
}

@mixin degrade_note {
    background: linear-gradient(to right, #f05761, #f6916a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@mixin degrade_titre_menu2 {
    background: linear-gradient(to bottom right, #de8621, #8f5bfe);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@mixin degrade_titre_menu3 {
    background: linear-gradient(to bottom right, #052add, #1a91fa);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@mixin degrade_titre_menu4 {
    background: linear-gradient(to bottom right, #3d923a, #beff7f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@mixin caption {
    font-size: $police-section-menu;
    font-weight: bold;
    line-height: 3em;
}

@mixin ligne_titre {
    width: 11rem;
    content:'';
    display: inline-block;
    vertical-align: middle;
}