/*COLORS*/

$color-main: #579c87;
$color-secondary: #fdcb46;

$color-menu1: #fcdfdb;
$color-menu2: #fff5fe;
$color-menu3: #edefef;
$color-menu4: #fdfffd;

$color-menu1-txt: #542c31;

$color-menu2-txt1: #c67412;
$color-menu2-txt2: #a56799;
$color-menu2-txt3: #7858cf;

$color-menu3-txt: #343535;

$color-menu4-txt: #161716;

/*SIZE*/

$margin-menu: 5%;
$margin-section-menu: 3rem;

$margin-top-page:0rem;

$police-menu: 0.6rem;
$police-menu1: 1.2rem;
$police-section-menu: 1.2em;
$police-titre-menu: 1rem;

