/*COLORS*/

$color-main: #579c87;
$color-secondary: #fdcb46;

$color-menu1: #fcdfdb;
$color-menu2: #fff5fe;
$color-menu3: #f9f9f9;
$color-menu4: #fdfffd;

$color-menu1-txt: #542c31;

/*SIZE*/

$margin-menu: -10rem;
$margin-section-menu: 3rem;

$margin-top-page:7rem;

$police-menu: 1.1em;
$police-section-menu: 1.2em;