.footer{
    width: 100%;
    background: $color-main;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    padding: 1.5rem;
    &__btn{
        &:hover {
            animation: wiggle 100ms 3;
        }
    }
}

.Mentions_légales{
    color: $color-secondary;
    margin-left: 1.5em;
    font-size: 1.1em;
    text-decoration: none;
        
}
.Contactez-nous {
    color: $color-secondary;
    margin-right: 1.5em;
    font-size: 1.1em;
    text-decoration: none;
}

/*RESPONSIVE*/

@media all and (min-width: 960px){
    .Mentions_légales, .Contactez-nous {
        font-size: 1.5em;
    }
}
